#title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;;
    padding: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

#scoreBoard {
    height: 200px;
    border: 1px solid black;
    margin-top: 50px;
    display: block;
}

#playerSide {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 0px;
    margin-left: 10%;
    top: 652px;
    text-align: center;
    font-size: 20px;
}

#compSide {
    position: absolute;
    width: 300px;
    height: 200px;
    margin-right: 10%;
    right: 0px;
    top: 652px;
    text-align: center;
    font-size: 20px;
}

#endMsg {
    position: absolute;
    margin: auto;
    visibility: hidden;
    top: 700px; left: 0; right: 0; bottom: 0;
}

#clear {
    background-color: #777;
    border-radius: 25px;
    border: 0px;
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 150px;
    left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
}

#clear:hover {
    border: 5px solid green;
}

.square {
    width: 100px;
    height: 100px;
    outline: 1px solid black;
}

.marker {
    font-style: monospace;
    font-size: 80px;
    position: relative;
    margin: 0 0 0 0;
    height: 100px;
}

.number {
    font-size: 60px;
}

body {
    text-align: center;
    font-family: monospace;
}
